<div class="container task-view-wrapper">
  <div class="row">
    <div class="col-md-4">
      <h4>LISTS</h4>
      <ul class="list-group">
        <li class="list-group-item">
          List#1
        </li>
        <li class="list-group-item">
          List#2
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <h4>TASKS</h4>
      <ul class="list-group">
        <li class="list-group-item">
          Task#1
        </li>
        <li class="list-group-item">
          Task#2
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-primary new-list-btn">
        New List
      </button>
</div>  